# VS Code
.vscode/*
!.vscode/cp_run.sh
!.vscode/tasks.json

# Build
build/*
!build/input.txt
!build/output.txt

# OS
.DS_Store
Thumbs.db

# C / C++
*.o
*.out
*.exe

# Java
*.class
*.jar

# Python
__pycache__/
*.pyc
.venv/
env/
